body {
	background-color: #474747;
	color: #ffffff;
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

ul {
	text-align: left;
}

h4 {
	text-align: left;
}

a {
	color:#38E0D8;
}

a:hover {
	color: #DB3BED;
}

a:visited {
	color: #0A91F2;
}
