@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

/* .column {
  width: 200px;
  background-color: #ccc;
  height: 400px;
  float: left;
}

.square {
  width: 200px;
  height: 200px;
  background-color: red;
}

.small-square {
  width: 100px; 
  height: 100px; 
  background-color: blue;
  float: left;
}

*/
body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: helvetica, sans-serif;
}

h1 {
    background-image: url("http://mbeero.github.io/images/mbeero.gif");
	background-repeat: no-repeat;
  width: 400px;
  height: 133px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

h2 {

  line-height: 1.5em;

}

ul {
	text-align: left;
  line-height: 1.5em;
}

h4 {
	text-align: left;
}

a {
	color:#5A5A5A;
	text-decoration: none;
}

a:hover {
	color: #ff0000;
}


a:visited {
	color: #333333;
}

.gif {
	
	display:block;
	margin: 0 auto;



}

.slabo {
  
  font-family: 'Slabo 27px', serif;

}

.blog {

  margin: 3em;
  margin-right: 14em;
  
}

#slogan {

}

#pictures {
	
}

.oswald {
font-family: 'Oswald', sans-serif;

}