body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: helvetica, sans-serif;
}

h1 {
	text-align: center;
}

ul {
	text-align: left;
}

h4 {
	text-align: left;
}

a {
	color:#38E0D8;
	text-decoration: none;
}

a:hover {
	color: #827D7C;
}

a:visited {
	color: #444444;
}

.gif {
	
	display:block;
	margin: 0 auto;

}
#slogan {
	
}