body {
background-color: #474747;
color: #ffffff;
font-family: Sans-Serif;
}
h1 {
	font-family: Sans-Serif;
	text-align: center;
}
ul {
	font-family: Sans-Serif;
	text-align: left;
}
h4 {
	font-family: Sans-Serif;
	text-align: left;
}